version 1.0.json
{
    "name": "Integration Facebook Messenger",
    "flow": [
        {
            "id": 3,
            "module": "facebook-messenger:watchMessages",
            "version": 2,
            "parameters": {
                "__IMTHOOK__": 1497911
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -1222,
                    "y": 4
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "My Facebook Messenger webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:facebook-messenger3",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 14,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": -742,
                    "y": -2
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "openai-gpt-3:messageAssistantAdvanced",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 4864014
                            },
                            "mapper": {
                                "assistantId": "asst_3u6nYkKtRcrVxTfZgyxqSoHt",
                                "role": "user",
                                "tool_choice": "required",
                                "message": "{{3.message.text}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": -725,
                                    "y": -351
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My OpenAI connection",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "assistantId": {
                                            "mode": "chose",
                                            "nested": [],
                                            "label": "Managerium _Software_user_support (gpt-4o)"
                                        },
                                        "role": {
                                            "label": "User"
                                        },
                                        "model": {
                                            "mode": "chose"
                                        },
                                        "tools": {
                                            "mode": "chose"
                                        },
                                        "file_search_resources": {
                                            "mode": "chose"
                                        },
                                        "code_interpreter_resources": {
                                            "mode": "chose"
                                        },
                                        "tool_choice": {
                                            "mode": "chose",
                                            "label": "Required"
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "truncation_strategy": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "image_files": {
                                            "mode": "chose"
                                        },
                                        "image_urls": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "assistantId",
                                        "type": "select",
                                        "label": "Assistant",
                                        "required": true
                                    },
                                    {
                                        "name": "role",
                                        "type": "select",
                                        "label": "Role",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "user",
                                                "assistant"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "threadId",
                                        "type": "text",
                                        "label": "Thread ID"
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model"
                                    },
                                    {
                                        "name": "tools",
                                        "type": "select",
                                        "label": "Tools",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "file_search",
                                                "code_interpreter"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "file_search_resources",
                                        "type": "select",
                                        "label": "File Search Resources"
                                    },
                                    {
                                        "name": "code_interpreter_resources",
                                        "type": "select",
                                        "label": "Code Interpreter Resources",
                                        "validate": {
                                            "maxItems": 20
                                        },
                                        "multiple": true
                                    },
                                    {
                                        "name": "tool_choice",
                                        "type": "select",
                                        "label": "Tool Choice",
                                        "validate": {
                                            "enum": [
                                                "none",
                                                "auto",
                                                "required",
                                                "file_search",
                                                "code_interpreter",
                                                "function"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "instructions",
                                        "type": "text",
                                        "label": "Instructions"
                                    },
                                    {
                                        "name": "max_prompt_tokens",
                                        "type": "uinteger",
                                        "label": "Max Prompt Tokens"
                                    },
                                    {
                                        "name": "max_completion_tokens",
                                        "type": "uinteger",
                                        "label": "Max Completion Tokens"
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 2,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "auto",
                                                "json_object",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "truncation_strategy",
                                        "type": "select",
                                        "label": "Truncation Strategy",
                                        "validate": {
                                            "enum": [
                                                "auto",
                                                "last_messages"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Message",
                                        "required": true
                                    },
                                    {
                                        "name": "image_files",
                                        "type": "select",
                                        "label": "Image Files",
                                        "multiple": true
                                    },
                                    {
                                        "name": "image_urls",
                                        "type": "array",
                                        "label": "Image URLs",
                                        "spec": {
                                            "type": "url",
                                            "label": "Image URL",
                                            "required": true,
                                            "name": "value"
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "facebook-messenger:sendMessage",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 4896466
                            },
                            "mapper": {
                                "message": {
                                    "text": "{{10.result}}",
                                    "attachment": {}
                                },
                                "recipient": {
                                    "id": "{{3.sender.id}}"
                                },
                                "messaging_type": "RESPONSE",
                                "notification_type": "REGULAR"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 19,
                                    "y": -348
                                },
                                "restore": {
                                    "expect": {
                                        "message": {
                                            "nested": {
                                                "attachment": {
                                                    "nested": {
                                                        "type": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        }
                                                    }
                                                },
                                                "quick_replies": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "messaging_type": {
                                            "mode": "edit"
                                        },
                                        "notification_type": {
                                            "mode": "chose",
                                            "label": "Sound / Vibration"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook-messenger2"
                                            },
                                            "label": "My Facebook Messenger connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook-messenger2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "messaging_type",
                                        "type": "select",
                                        "label": "Messaging Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "RESPONSE",
                                                "UPDATE",
                                                "MESSAGE_TAG"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "recipient",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "Page Scoped User ID (PSID)"
                                            },
                                            {
                                                "name": "user_ref",
                                                "type": "text",
                                                "label": "User Reference"
                                            },
                                            {
                                                "name": "post_id",
                                                "type": "text",
                                                "label": "Post ID"
                                            },
                                            {
                                                "name": "comment_id",
                                                "type": "text",
                                                "label": "Comment ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Recipient"
                                    },
                                    {
                                        "name": "message",
                                        "spec": [
                                            {
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text",
                                                "validate": {
                                                    "max": 2000
                                                }
                                            },
                                            {
                                                "name": "attachment",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Attachment Type",
                                                        "validate": {
                                                            "enum": [
                                                                "image",
                                                                "audio",
                                                                "video",
                                                                "file",
                                                                "template"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Attachment"
                                            },
                                            {
                                                "name": "quick_replies",
                                                "spec": [
                                                    {
                                                        "name": "content_type",
                                                        "type": "select",
                                                        "label": "Content Type",
                                                        "options": [
                                                            {
                                                                "label": "Text",
                                                                "value": "text",
                                                                "nested": [
                                                                    {
                                                                        "help": "The text to display on the quick reply button.",
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Title",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 20
                                                                        }
                                                                    },
                                                                    {
                                                                        "help": "Custom data that will be sent back to you via the `messaging_postbacks` webhook event.",
                                                                        "name": "payload",
                                                                        "type": "text",
                                                                        "label": "Payload",
                                                                        "validate": {
                                                                            "max": 1000
                                                                        }
                                                                    },
                                                                    {
                                                                        "help": "Required if `Title` is an `emptystring`. URL of image to display on the quick reply button for text quick replies. Image should be a minimum of 24px x 24px. Larger images will be automatically cropped and resized.",
                                                                        "name": "image_url",
                                                                        "type": "url",
                                                                        "label": "Image URL"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "User Phone Number",
                                                                "value": "user_phone_number"
                                                            },
                                                            {
                                                                "label": "User Email",
                                                                "value": "user_email"
                                                            }
                                                        ],
                                                        "required": true
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Quick Replies"
                                            },
                                            {
                                                "name": "metadata",
                                                "type": "text",
                                                "label": "Metadata",
                                                "validate": {
                                                    "max": 1000
                                                }
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Message"
                                    },
                                    {
                                        "name": "notification_type",
                                        "type": "select",
                                        "label": "Notification Type",
                                        "validate": {
                                            "enum": [
                                                "REGULAR",
                                                "SILENT_PUSH",
                                                "NO_PUSH"
                                            ]
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 15,
                            "module": "regexp:Parser",
                            "version": 1,
                            "parameters": {
                                "global": false,
                                "pattern": "(?:company\\s*name[:\\-]?\\s*)?([a-zA-Z0-9\\s\\.\\-&]+)?\\s*(?:mobile\\s*number[:\\-]?\\s*|contact[:\\-]?\\s*|phone[:\\-]?\\s*)?(\\+?\\d[\\d\\s\\-\\(\\)]{6,})?\\s*(?:email[:\\-]?\\s*)?([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})",
                                "multiline": false,
                                "sensitive": false,
                                "singleline": false,
                                "continueWhenNoRes": false
                            },
                            "mapper": {
                                "text": "{{3.message.text}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 36,
                                    "y": -10
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "pattern",
                                        "type": "text",
                                        "label": "Pattern",
                                        "required": true
                                    },
                                    {
                                        "name": "global",
                                        "type": "boolean",
                                        "label": "Global match",
                                        "required": true
                                    },
                                    {
                                        "name": "sensitive",
                                        "type": "boolean",
                                        "label": "Case sensitive",
                                        "required": true
                                    },
                                    {
                                        "name": "multiline",
                                        "type": "boolean",
                                        "label": "Multiline",
                                        "required": true
                                    },
                                    {
                                        "name": "singleline",
                                        "type": "boolean",
                                        "label": "Singleline",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module finds no matches",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "$1",
                                        "type": "text",
                                        "label": "$1"
                                    },
                                    {
                                        "name": "$2",
                                        "type": "text",
                                        "label": "$2"
                                    },
                                    {
                                        "name": "$3",
                                        "type": "text",
                                        "label": "$3"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 26,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 4915561
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{15.`$1`}}{{15.`$2`}}{{15.`$3`}}",
                                            "o": "exist"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{15.`$1`}}{{15.`$2`}}",
                                            "o": "exist"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{15.`$1`}}{{15.`$3`}}",
                                            "o": "exist"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{15.`$2`}}{{15.`$3`}}",
                                            "o": "exist"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{15.`$1`}}",
                                            "o": "exist"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{15.`$2`}}",
                                            "o": "exist"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{15.`$3`}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "",
                                "to": [
                                    "mithunhalder397@gmail.com"
                                ],
                                "subject": "",
                                "html": "{{3.message.text}}",
                                "attachments": [],
                                "cc": [],
                                "bcc": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 422,
                                    "y": -9
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "My Google Restricted connection (mhalder201041@bscse.uiu.ac.bd)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "type": "array",
                                        "label": "To",
                                        "required": true,
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        }
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "type": "array",
                                        "label": "Attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "label": "File name",
                                                "type": "filename",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "label": "Data",
                                                "type": "buffer",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "label": "Content-ID",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "cc",
                                        "type": "array",
                                        "label": "Copy recipient",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "type": "array",
                                        "label": "Blind copy recipient",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address",
                                            "name": "value"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    },
    "io": {
        "input_spec": [
            {
                "name": "full_name",
                "type": "text",
                "label": "",
                "default": "",
                "required": false,
                "multiline": false
            },
            {
                "name": "phone_no",
                "type": "number",
                "label": "",
                "default": null,
                "required": false
            },
            {
                "name": "organization_name",
                "type": "text",
                "label": "",
                "default": "",
                "required": false,
                "multiline": false
            }
        ],
        "output_spec": []
    }
}